<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mrqinzh.blog.mapper.ArticleMapper">

    <cache />

    <resultMap id="baseMap" type="Article">
        <id property="id" column="id" />
        <result property="articleAuthor" column="article_author" />
        <result property="articleTitle" column="article_title" />
        <result property="articleSummary" column="article_summary" />
        <result property="articleCoverImg" column="article_cover_img" />
        <result property="articleCreateTime" column="article_create_time" />
        <result property="articleUpdateTime" column="article_update_time" />
        <result property="articleContentMd" column="article_content_md" />
        <result property="articleTag" column="article_tag" />
        <result property="articleType" column="article_type" />
        <result property="articleViews" column="article_views" />
        <association property="user" javaType="User">
            <id property="id" column="id" />
            <result property="userAvatar" column="user_avatar" />
            <result property="userNickname" column="nickname" />
            <result property="userEmail" column="user_email" />
            <result property="userName" column="user_nickname" />
        </association>
    </resultMap>

    <resultMap id="listMap" type="Article">
        <id property="id" column="id" />
        <result property="articleAuthor" column="article_author" />
        <result property="articleTitle" column="article_title" />
        <result property="articleSummary" column="article_summary" />
        <result property="articleCoverImg" column="article_cover_img" />
        <result property="articleCreateTime" column="article_create_time" />
        <result property="articleUpdateTime" column="article_update_time" />

        <result property="articleTag" column="article_tag" />
        <result property="articleType" column="article_type" />
        <result property="articleViews" column="article_views" />
        <association property="user" javaType="User">
            <id property="id" column="id" />
            <result property="userAvatar" column="user_avatar" />
            <result property="userNickname" column="user_nickname" />
        </association>
    </resultMap>

    <select id="list" resultMap="listMap">
        SELECT
            *
        FROM
            article a
        LEFT JOIN `user` u ON a.user_id = u.id
        WHERE
            status = 0
        <if test="condition != null">
            AND article_tag like '%${condition}%'
            OR article_title like '%${condition}%'
        </if>
        order by article_update_time DESC
    </select>

    <select id="getById" resultMap="baseMap">
        SELECT
            *
        FROM
            article a
        LEFT JOIN `user` u ON a.user_id = u.id
        WHERE
            a.id = #{articleId}
    </select>

    <insert id="add" parameterType="Article" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO article (
            article_author,
            article_title,
            article_summary,
            article_cover_img
            article_update_time,
            article_content_md,
            article_tag,
            article_type,
            user_id
        )
        VALUES
            (
                #{articleAuthor},
                #{articleTitle},
                #{articleSummary},
                #{articleCoverImg}
                #{articleUpdateTime},
                #{articleContentMd},
                #{articleTag},
                #{articleType},
                #{userId}#
            )
    </insert>

    <update id="update" parameterType="Article">
        UPDATE
            article
        <trim prefix="set" suffixOverrides=",">
            <if test="articleTitle != null">article_title = #{articleTitle}, </if>
            <if test="articleSummary != null">article_summary = #{articleSummary}, </if>
            <if test="articleCoverImg != null">article_cover_img = #{articleCoverImg}, </if>
            <if test="articleUpdateTime != null">article_update_time = #{articleUpdateTime}, </if>
            <if test="articleContentMd != null">article_content_md = #{articleContentMd}, </if>
            <if test="articleViews != null">article_views = #{articleViews}, </if>
            <if test="articleTag != null">article_tag = #{articleTag}, </if>
            <if test="articleType != null">article_type = #{articleType}, </if>
        </trim>
        WHERE
            id = #{id}
    </update>


</mapper>