<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mrqinzh.mapper.FileMapper">

    <insert id="add" parameterType="com.mrqinzh.model.entity.MyFile">
        INSERT INTO myFile (
            file_name,
            file_path,
            file_type,
            file_create_time,
            file_size
        )
        VALUES
        (
            #{fileName}, #{filePath}, #{fileType}, #{fileCreateTime}, #{fileSize}
        )
    </insert>

</mapper>