<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qin.mapper.MsgMapper">

    <cache />

    <!--  显示所有的留言信息  -->
    <select id="findAllMsg" resultMap="msgs">
        select
            m.id, m.user_id, m.msg_comment, m.msg_time, u.uname, u.head_img
        from
            leavemsg m, user_table u
        where
            m.user_id = u.id
        order by
            m.msg_time desc
    </select>
    <resultMap id="msgs" type="LeaveMsg">
        <id column="id" property="id" />
        <result column="user_id" property="user_id" />
        <result column="msg_comment" property="msg_comment" />
        <result column="msg_time" property="msg_time" />
        <association property="user" javaType="com.qin.pojo.User">
            <result column="uname" property="uname" />
            <result column="head_img" property="head_img" />
        </association>
    </resultMap>

    <!--  新增一条留言记录  -->
    <insert id="addMsg" parameterType="LeaveMsg">
        insert into
            leavemsg (user_id, msg_comment, msg_time)
        values
               (#{user_id}, #{msg_comment}, #{msg_time})
    </insert>


</mapper>