<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qin.mapper.MyCommentMapper">

    <cache />

    <resultMap id="articleComments" type="MyComment">
        <id column="id" property="id" />
        <result column="user_id" property="user_id" />
        <result column="article_id" property="article_id" />
        <result column="parent_id" property="parent_id" />
        <result column="comment_content" property="comment_content" />
        <result column="comment_time" property="comment_time" />
        <association property="user" javaType="com.qin.pojo.User">
            <result column="uname" property="uname" />
            <result column="head_img" property="head_img" />
        </association>
        <association property="article" javaType="com.qin.pojo.Article">
            <result column="article_title" property="article_title" />
        </association>
    </resultMap>
    <select id="all" resultMap="articleComments">
        select
            m.id, m.comment_time, m.comment_content, m.user_id, m.article_id, m.parent_id, u.uname, u.head_img, a.article_title
        from
            mycomment m, user_table u, article_table a
        where
            m.user_id = u.id and m.article_id = a.article_id and m.article_id=#{articleId}
        order by
            m.comment_time desc
    </select>

    <select id="preOrder" resultMap="articleComments">
        select
            m.id, m.comment_time, m.comment_content, m.user_id, m.article_id, m.parent_id, u.uname, u.head_img, a.article_title
        from
            mycomment m, user_table u, article_table a
        where
            m.user_id = u.id and m.article_id = a.article_id
        order by
            m.comment_time desc
        limit
            5
    </select>


    <insert id="addComment" parameterType="MyComment">
        insert into
            mycomment (comment_time, comment_content, user_id, article_id, parent_id)
        values
            (#{comment_time}, #{comment_content}, #{user_id}, #{article_id}, #{parent_id})
    </insert>


    <delete id="delByArtId">
        delete from mycomment where article_id = #{article_id}
    </delete>


</mapper>